.button {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
}

.whiteButton {
    background-color: #ffffff;
    color: #222b45;
}

.blueButton {
    background-color: #3a8ffe;
    color: #ffffff;
}