.chatsListScreen {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 90px;
}

.chatsListScreen .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 90px;
}

.chatsListScreen .head .rightSide {
    display: flex;
    flex-direction: row;
}